/*! *********** BASE RULE*************  */
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Jost:wght@300;400;500;600;700;800;900&family=Poppins:wght@200;300;400;500;600;700;800;900&family=Urbanist:wght@200;300;400;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Urbanist', sans-serif;
}

html{
    font-size: 62.5%;
    /* 1rem = 10px */
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
label{
    font-family: 'Poppins', sans-serif;
}

p,
li,
a,
label{
    font-family: 'Urbanist', sans-serif;
    font-size: 1.6rem;
    letter-spacing: 0.1rem;
    font-weight: 400;
    color: var(--para-color);
    line-height: 1.5;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}
/*! *********** BASE RULE END*************  */


/*! **** theme START HERE *******/

:root{
    --main-color: #0062ff;
    --supporting-color: #ebf3fe;
    --font-color: #424242;
    --bg-color: #f7fcff;
    --heading-color:#000a19;
    --para-color: #504e4d;
    --hero-heading-color: #0a043c;
    --white-color: #ffffff;
    --test: #070101;
    --btn-hover-bg-color: #003b99;
    --btn-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    --footer-bg-color: #040d12;
}

/*! **** theme END HERE *******/


/*! ***********LAYOUT START HERE************  */

.container{
    max-width: 109rem;
    margin: 0 auto;
    padding: 5rem 2rem;
}


.section-about .container:first-child,
.section-hero .container:first-child,
.section-course .container:first-child,
.section-contact--homepage .container:first-child,
.section-why--choose .container:first-child,
.section-contact .container:first-child {
    padding: 4rem 2rem 1rem 2rem;
}

.grid{
    display: grid;
    gap: 5rem;
}

.grid-two-cols{
    grid-template-columns: repeat(2, 1fr);
}

.grid-three--cols{
    grid-template-columns: repeat(3, 1fr);    
}

.grid-four--cols{
    grid-template-columns: repeat(4, 1fr);
}
/*! ***********LAYOUT END HERE************  */


/*! *************MODULE / REUSABLE **************  */

.fa-solid{
    padding: 2rem;
    background-color: var(--supporting-color);
    font-size: 2rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    color: var(--hero-heading-color);
}

.section-common--title{
    font-size: 1.6rem;
    margin: 1.8rem 0 0.6rem 0;
}

.section-common--heading{
    font-size: 2.2rem;
    font-weight: 700;
    text-transform: capitalize;
    font-family: 'Poppins', sans-serif;
}

.section-common--subheading{
    color: var(--heading-color);
}

.btn{
    display: inline-block;
    padding: 1rem 3.2rem;
    background-color: var(--main-color);
    color: var(--white-color);
    border-radius: 0.4rem;
    -webkit-border-radius: 0.4rem;
    -moz-border-radius: 0.4rem;
    -ms-border-radius: 0.4rem;
    -o-border-radius: 0.4rem;
}

/*! *************MODULE / REUSABLE **************  */


/*! ************* STATES **************  */

.btn:hover{
    background-color: var(--btn-hover-bg-color);
    cursor: pointer;
    box-sizing: var(--btn-box-shadow);
}

/*! ************* STATES **************  */



/*! ******* START NAVBAR   section ******/


.section-navbar{
    width: 100%;
    box-shadow: rgba(0,0,0,0.05) 0px 6px 24px 0px,
    rgba(0,0,0,0.08) 0 0 0 1px;
}

.section-navbar .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

.section-navbar  .navbar ul{
    display: flex;
    gap: 3rem;
    /* text-transform: capitalize; */

    & li a {
        color: var(--heading-color);
        text-transform: uppercase;
        font-size: 1.4rem;
        font-weight: 600;
        display: inline-block;
        position: relative;

        &::after{
            content: "";
            position: absolute;
            bottom: -0.2rem;
            left: 0;
            width: 0%;
            border-bottom: 0.2rem solid var(--main-color) ;
            transition: all 0.3s linear;
            -webkit-transition: all 0.3s linear;
            -moz-transition: all 0.3s linear;
            -ms-transition: all 0.3s linear;
            -o-transition: all 0.3s linear;
}
    }

    & li a:hover::after{
        width: 100%;
    }
}

/*! ******** END NAVBAR  section ********** */


/*! **************Hero section start here ************** */

main{
    position: relative;
    background-image: linear-gradient(
        to top right,
        #3d86fa,
        #4484fb,
        #679eff,
        #ebf3fe
    );

    & .section-hero{
        padding-bottom: 16rem;
    }
}

.section-hero .grid{
    align-items: center;
    gap: 5rem;

    & .hero-subheading {
        text-transform: uppercase;
        letter-spacing: 0.3rem;
        font-size: 1.5rem;
        word-spacing: 0.1rem;
        color: var(--hero-heading-color);
        font-weight: 700;
    }
    
    & .hero-heading {
        font-size: 5rem;
        font-family: 'Jost', sans-serif;
        color: var(--hero-heading-color);
        font-weight: 700;
    }

    & .hero-para{
        color: var(--white-color);
        margin: 1.4rem 0 4rem 0;
    }
}

.section-hero-image img{
    width: 100%;
    /* height: auto; */
    transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    -o-transform: scaleX(-1);
}

/*? SHAPE Divider */
.custom-shape-divider-bottom-1698247126 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

.custom-shape-divider-bottom-1698247126 svg {
    position: relative;
    bottom: 4rem;
    left: 0;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.custom-shape-divider-bottom-1698247126 .shape-fill {
    fill: #FFFFFF;
}

/*! **************Hero section end here ************** */


/*! *** CSS ABOUT section  ***/
.section-about .grid-three--cols{
    gap: 3rem;
}

.section-about .about-div{
    text-align: center;
}

.section-about img{
    padding: 1.4rem;
    background-color: var(--supporting-color);
    width: 12rem;
    height: auto;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: all 0.5s linear;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
}

.about-div .icon:hover >img{
    rotate: 360deg;
    background: linear-gradient(to right, #0575e6, #021b79);
}
/*! *** END CSS ABOUT section  ***/


/*! *** CSS Course section start here**** */
.section-course{
    background-color: var(--bg-color);
}
.section-course .grid{
    gap: 2rem;
}

.section-course .course-div{
    padding: 2rem;
}
.section-course .course-div:hover{
    box-shadow: var(--btn-box-shadow);
}

.course-div:nth-child(2) .icon .fa-solid{
    color: #68bf9b;
    background-color: #e7f6ef;
}

.course-div:nth-child(3) .icon .fa-solid{
    color: #ff8b52;
    background-color: #e7f6ef;
}

.course-div:nth-child(4) .icon .fa-solid{
    color: #183d3d;
    background-color: #ccf7f7;
}

.course-div:nth-child(5) .icon .fa-solid{
    color: #d988b9;
    background-color: rgb(247, 223, 238);
}

.course-div:nth-child(6) .icon .fa-solid{
    color: #ff9b50;
    background-color: #f6dfce;
}

.course-div:nth-child(7) .icon .fa-solid{
    color: #1450a3;
    background-color: #c7d0e6;
}


.course-div:nth-child(2) .icon .fa-solid{
    color: rgb(151, 151, 196);
    background-color: #e7f6ef;
}

/*! *** CSS Course section start here**** */


/*! ********* Why Choose section ******* */
.section-why--choose .grid{
    gap: 6rem;
}

.section-why--choose .text--align--right .why-choose--div{
    display: flex; 
    flex-direction: column;
    justify-content: start;
    align-items: end;
    text-align: right;
}

.common-text--highlight{
    width: 5rem;
    aspect-ratio: 1;
    background-color: var(--supporting-color);
    color: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    font-size: 1.6rem;
    font-weight: 700;
    /* text-align: end; */
}

.choose-center--div, figure{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    & img{
        width: 30rem;
        height: auto;
    }
}

.why-choose--div {
    margin-top: 4rem;
}

.choose-center--div figure::before, 
.choose-center--div figure::after{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    background-color: var(--main-color);
    width: 35rem;
    height: 35rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    z-index: -1;
}

.choose-center--div figure::before{
    animation: circle 5s linear infinite;
    -webkit-animation: circle 5s linear infinite;
}

@keyframes circle{
    0%{
        background-color: #b3d0ff;
    }
    25%{
        background-color: #80b1ff;
    }
    50%{
        background-color: #4d91ff;
    }
    75%{
        background-color: #99c0ff;
    }
    100%{
        background-color: #3381ff;
    }
}

.choose-center--div figure::after{
    width: 38rem;
    height: 38rem;
    background-color: var(--supporting-color);
    /* background-color: transparent; */
    z-index: -2;
    border: 0.5rem solid var(--supporting-color);
}
/*! ********* Why Choose section End here ******* */


/*! Blog section Start here  */
.section-blog{
    background-color: var(--bg-color);

    & .grid{
        gap: 3.7rem;
    }

    & img {
        width: 100%;
        height: auto;
    }

    & .section-common--title{
        margin-top: 0.8rem;
    }

    & .blog {
        transition: all 0.2s linear;
        -webkit-transition: all 0.2s linear;
        -moz-transition: all 0.2s linear;
        -ms-transition: all 0.2s linear;
        -o-transition: all 0.2s linear;
            
        &:hover{
            scale: 1.1;
        }

        & .blog-content{
            padding: 0.6rem 2rem 0.6rem;
        }

    }

    & .blog-date{
        display: flex;
        justify-content: space-between;
        margin-top: 1rem;
        font-size: 0.4rem;

        & .fa-solid{
            background-color: transparent;
            padding: 0;
        }
    }
}

.section-blog .blog:hover{
    scale: 1.3rem;
}
/*! Blog section End here  */



/*! ********Actual Contact Page*****  */


.section-contact .grid{
    gap: 3rem;

    & .contact-map {
        & iframe {
            display: block;
            width: 500px;
            height: 450px;

        }
    }
}

.mb-3{
    margin-bottom: 2rem;
}

label{
    display: block;
    text-transform: capitalize;
}

input,
textarea
{
    width: 100%;
    padding: 2rem 1rem 1rem;
    font-size: 1.6rem;
    letter-spacing: 0.1rem;
}

::placeholder{
    font-size: 1.7rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
    text-transform: capitalize;
}

.btn-submit{
    font-size: 1.6rem;
    border: none;
    text-transform: capitalize;
}

input:focus-visible, 
textarea:focus-visible{
    outline: 0.1rem solid var(--btn-hover-bg-color);
}
/*! ********Actual Contact Page*****  */




/*! home contact section */
.section-contact--homepage{
    width: 60%;
    min-height: 25rem;
    /*background-color: red;
    */margin: 0 auto;
    box-shadow: rgba(60, 64, 67, 0.13) 0px 1px 2px 0px,    rgba(60, 64, 67, 0.15) 0 2px 6px 2px;
    margin-bottom: 3rem;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    position: relative;
    top: 15rem;
    /*z-index: 1;
    */background-color: var(--white-color);
    & .grid {
        align-items: center;
        gap: 1rem;
    }
}

.contact-title{
    font-size: 2.8rem;
    line-height: 1;
}

.contact-content p{
    margin: 0.5rem 0 2rem 0;
}
.section-contact--homepage a{
    color: var(--white-color);
    text-transform: capitalize;
}

.section-contact--homepage .fa-solid{
    padding: 0;
    color: var(--white-color);
    background-color: var(--main-color);
}

.section-contact--homepage img{
    width: 90%;
    height: auto;
}
/*! home contact section */

/*! Footer section styling  */
footer{
    background-color: var(--footer-bg-color);
    padding-top: 12rem;
}

footer *{
    color: var(--white-color);
    /* text-align: end;
    align-content: end; */
}

footer .grid {
    text-align: end;
}

.footer-subheading{
    font-size: 1.8rem;
}

.footer-1--div p{
    margin: 0.4rem 0 2rem 0;
}

.footer-1--div {
    text-align: start;

    & .social-footer--icons{
        display: flex;
        /* justify-content: end;
        align-items: center; */
        gap: 1rem;

        & .fa-brands{
            width: 4rem;
            aspect-ratio: 1;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            background-color: var(--supporting-color);
            color: var(--btn-hover-bg-color);
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all 0.2s linear;
            -webkit-transition: all 0.2s linear;
            -moz-transition: all 0.2s linear;
            -ms-transition: all 0.2s linear;
            -o-transition: all 0.2s linear;
            &:hover{
                color: var(--supporting-color);
                background-color: var(--btn-hover-bg-color);
                rotate: 360deg;
            }
        }
    }
}
/*! Footer section styling  */

::-webkit-scrollbar{
    width: 1rem;
}

::-webkit-scrollbar-track{
    background-color: var(--main-color);
    border-radius: 5rem;
    -webkit-border-radius: 5rem;
    -moz-border-radius: 5rem;
    -ms-border-radius: 5rem;
    -o-border-radius: 5rem;
}

::-webkit-scrollbar-thumb{
    background: var(--heading-color);
    border-radius: 5rem;
    -webkit-border-radius: 5rem;
    -moz-border-radius: 5rem;
    -ms-border-radius: 5rem;
    -o-border-radius: 5rem;
}

/*! scroll animation and scroll snap */



/*! ********Media queries section  */
@media (max-width: 1100px) {
/* @media ( width <= 1000px ) { */
    html{
        font-size: 56.25%;
        /* 1rem = 9px */
    }

    .section-course .grid-four--cols {
        grid-template-columns: repeat(auto-fit, minmax(240px , 1fr));
    }
}



@media ( width <= 974px ) {
    .section-hero {
        height: auto;

        & .grid-two-cols{
            grid-template-columns: 1fr;

            & .section-hero-content {
                order: 2;
                text-align: center;
                
                & .hero-heading{
                    font-size: 3rem;
                }
            }
            
            & .section-hero-image {
                order: 1;
                
                & img {
                    width: 50%;
                }
            }
        }
        
    }
    
    .section-about {
        & .about-div{
            text-align: left;
        }
    }
}

/* @media (width <= 928px) {
    .section-contact {
        & .grid-two-cols {
            grid-template-columns: 1fr;
            justify-content: center;
            align-content: center;
        }
    }
} */

@media (width <= 768px) {
    .grid-two-cols, 
    .grid-three--cols, 
    .grid-four--cols{
        grid-template-columns: 1fr;
    }
    .section-navbar{
        & .container{
            display: flex;
            flex-direction: column;

            & .navbar-brand {
                text-align: center;
                margin-bottom: 1.7rem;
            }

            & .navbar ul{
                gap: 2rem;
            }
        }
    }

    footer .grid-four--cols{
        grid-template-columns: repeat(3, minmax(80px , 1fr) );
        text-align: left;

        & .footer-1--div {
            grid-area: 2/1/3/4;
        }
    }

    .section-why--choose{
        gap: 3rem;
        & .choose-left--div{
            order: 2;
            text-align: left;

            & .why-choose--div{
                align-items: start;
            }
        }

        & .choose-right--div {
            order: 3;
        }
        & .choose-center--div{
            order: 1;

            & figure::before{
                width: 0;
                height: 0;
                background-color: transparent;
                padding: 0;
            }
            & figure::after{
                width: 0;
                height: 0;
                background-color: transparent;
                padding: 0;
            }
            & figure {
                width: 120%;
            }
        }

        & img {
            
            width: 30%;
        }
    }
}
/*! ******** End Media queries section  */